Practice/Terminal/TerminalClient/Service References/ServiceTerminal/Terminal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Terminal" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:38573/Terminal/Terminal.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:38573/Terminal/Terminal.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITerminal_testConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:testConnection" />
  </wsdl:message>
  <wsdl:message name="ITerminal_testConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:testConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ITerminal_getCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:getCommand" />
  </wsdl:message>
  <wsdl:message name="ITerminal_getCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCommandResponse" />
  </wsdl:message>
  <wsdl:portType name="ITerminal">
    <wsdl:operation name="testConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/ITerminal/testConnection" message="tns:ITerminal_testConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITerminal/testConnectionResponse" message="tns:ITerminal_testConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/ITerminal/getCommand" message="tns:ITerminal_getCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITerminal/getCommandResponse" message="tns:ITerminal_getCommand_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITerminal" type="tns:ITerminal">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="testConnection">
      <soap:operation soapAction="http://tempuri.org/ITerminal/testConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCommand">
      <soap:operation soapAction="http://tempuri.org/ITerminal/getCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Terminal">
    <wsdl:port name="BasicHttpBinding_ITerminal" binding="tns:BasicHttpBinding_ITerminal">
      <soap:address location="http://localhost:38573/Terminal/Terminal.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>